.detailitem{
    text-align: center;
    margin-left: 2rem;
}

.textitems{
    margin-top: 4rem; 
    float: center;
    
}
.text{ 
    font-size: large; 
}
.title{
    margin-top: 10rem;
    color: #116149;
}
.menuImage{
    border-radius: 50%;
    max-width: 300px;
    width: 70%;
}