.detailitem{
    text-align: center;
    margin-left: 2rem;
}

.textitems{
    margin-top: 4rem; 
    float: center;
    
}

.title{
    margin-top: 10rem;
    color: #116149;
}
.menuImage{
    border-radius: 50%;
    max-width: 300px;
    width: 70%;
}

@media screen and (min-width: 0px){
    .text{ 
        font-size: 0.8rem; 
    }
    }
@media screen and (min-width: 320px){
    .text{ 
        font-size: 1.2rem; 
    }
    }
@media screen and (min-width: 640px){
    .text{ 
        font-size: 1.6rem; 
    }
    }
@media screen and (min-width: 1280px){
    .text{ 
        font-size: 2.4rem; 
    }
    }        
