.App {
  text-align: center;
}
/* Haupseite */
.willkommen{
  margin:auto;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  margin-bottom: 5rem;
  margin-top: 8rem;
}


/* Navigation */
.navigation{
/*   display: flex;
  top: 0;
  width: 100%;
  height: 40;
  background-color: darkolivegreen;
  border-bottom-width: 1px;
  font-weight: bold;
  padding: 0px 20px;
  box-sizing: "border-box"; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkolivegreen;
  color: white; 
}

.nav-link{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.button-around{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-hauptseite{
  margin:auto;
  margin-top: 5rem;
  margin-left: 4rem;
  background-color: #4CAF50; /* Green */
  border: none;
  width: 250px;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  justify-content: space-around;
}


